<html>
  <head>
    <%= wicked_pdf_stylesheet_link_tag 'pdf'%>
  </head>
  <body>
    <div id="">
        <h1>FACTURA</h1>
        <h1><%= @hashcode %></h1>
        <%= raw @qr.as_html %>
    </div>
  </body>
</html>
