<p id="notice"><%= notice %></p>

<div class="container prodh1"><h1>Services</h1></div>

<% if @services.blank? %>
<p> No hay productos</p>
<% else %>
  <div class="container">
    <div class="row">
      <% @services.each do |d| %>
      <div class="col-xs-4">
        <div class="prodGrid">
          <a href="#">
            <p><%= d.name %></p>
            <p><%= d.description %></p>
          </a>
        </div>
      </div>
      <% end %>
    </div>
  </div>
<% end %>


<br>
<center>
  <%= link_to 'New Service', new_service_path, {:class => "btn"} %>
</center>