<div class="white_content" id="light" role="dialog">
  <div class="">
    <!--Modal Content-->
    <div class="">
      <div class="">
        <h3 class="myh center">UN Trueque</h3>
        <button type="button"  id="btn-close" class="close" style="margin-top: -16px; font-size: 28px;" data-dismiss="modal" aria-label="Close" onclick="closePop()">
           <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="" style="padding: 0;">
        <% if !alert.nil? %>
            <p class="alert"><%= alert %></p>
        <% elsif !notice.nil? %>
           <p class="notice"><%= notice %></p>
        <% end %>
      </div>
    </div>
  </div>
</div>
 <div id="fade" class="black_overlay"></div>


<script type="text/javascript">
$(document).ready(function() {
   document.getElementById('light').style.display='block';document.getElementById('fade').style.display='block'
 });
 function closePop() {
   document.getElementById('light').style.display='none';document.getElementById('fade').style.display='none';
 }
</script>
