<!--%= stylesheet_link_tag "filename" %-->
<div class="container mt">
  
  <h1 class="myh center">Productos & Servicios</h1>

  <% if @products.blank? %>
    <h4>No hay productos</h4>
  <% else %>
    <div class="row">
      <% @products.each do |p| %>
        <div class="col-xs-3">
          <div class="thumbnail">
            <%= link_to my_offer_path(p) do %>
              <div class="opacity">
                <!--a href="/w3images/lights.jpg" target="_blank"-->
                <div class="superCenter" style="height:200px">
                  <%= image_tag p.product_image.url(:medium), alt: "", style:"width:100%; max-height:200px", class:"img-rounded img-responsive" %>
                </div>
                <!--img src="/w3images/lights.jpg" alt="Lights" style="width:100%"-->
                <div class="caption container-fluid" style="height: 100px">
                  <h4><%= p.name %></h4>
                  <% if p.p_type == 1 %>
                    <h6>Producto</h6>
                  <% else %>
                    <h6>Servicio</h6>
                  <% end %>
                  <h6><%= p.description  %></h6>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>

