<div id="contact" class="container mt">
  <h2 class="section-title">¡Contáctanos!</h2>
    
  
    
    <div class="row">
      <div class="col-lg-3 offset-lg-2">
        <div class="info">
          <div>
            <i class="fa fa-map-marker"></i>
            <p>Cll 45 #30<br>Bogotá D.C - Colombia</p>
          </div>

          <div>
            <i class="fa fa-envelope"></i>
            <p>info@UNTrueque.com</p>
          </div>
        </div>
      </div>

      <div class="col-lg-5">
        <div class="form">
          <%= form_for @message, url: contact_path do |message_form| %>
          <fieldset>
              <div class="form-group">
                <%= message_form.text_field :name, placeholder: "Tu Nombre", class: "form-control"%>
              </div>
              <div class="form-group">
                 <%= message_form.email_field :email, placeholder: "Email", class: "form-control" %>
              </div>
              <div class="form-group">
                <%= message_form.text_area :content, placeholder: "Mensaje", class: "form-control", rows: "5"%>
              </div>
          </fieldset>
              <div class="text-center"><button type="submit">Envíar mensaje</button></div>

          </form>
        </div>
      </div>
        <% end %>
    </div>
  </div>
