<%= form_with(model: my_publication, local: true) do |form| %>
  <% if my_publication.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(my_publication.errors.count, "error") %> prohibited this my_publication from being saved:</h2>

      <ul>
      <% my_publication.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
