<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Has recibido una oferta de <%= @userbarters.first_name %></h1>
    <p>
      El producto por el cual se ofertó fue:
      <%= @product.name %>
    </p>
    <p>
      Visita UNTrueque para más información <%= @url %>.
    </p>
  </body>
</html>
