<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Bienvenido a UNTrueque.herokuapp.com, <%= @user.first_name %></h1>
    <p>
      Te has registrado con éxito UNTrueque.herokuapp.com
    </p>
    <p>
      Para iniciar sesion, solo sigue este link:  <%= @url %>.
    </p>
    <p>¡Gracias por unirte y ten un gran dia!</p>
  </body>
</html>
