<h1>Mapa</h1>
<p>Aqui va a estar ubicado el mapa que va a hacer Sastoquemelo</p>

<p><%= @barter.inspect %></p>
<%= form_for @barter do |f| %>
  <%= f.text_area :confirmation, class: 'form-control', rows: '5', placeholder: 'Escribe un mensaje de conformación aquí' %>
  <%= f.submit 'Confirmar', class: 'btn  btn-right' %>
<% end %>
