<div class="container margin-top">
  <h2 class="myhnot">Mapa</h2>
  
  <div class="panel-footer">
    <%= form_for @barter do |b| %>
    <%#= b.text_area :description, class: 'form-control', rows: '5', placeholder: 'Añade un comentario aquí' %>
      <h6><strong>Lugar del trueque: </strong></h6>
      <%= b.text_area :address, class: 'form-control', placeholder: 'Universidad Nacional de Colombia' %>
      <%= b.submit 'Finalizar', class: 'btn  btn-right' %>
    <% end %>
  </div>
</div>