<header id="header">
<div class="container">

  <div id="logo" class="pull-left">
    <a href="welcome/index.html"><%=image_tag("logo-nav.png", alt: "logo UNTrueque")%></a>
    <!-- Uncomment below if you prefer to use a text image -->
    <!--<h1><a href="#hero">Bell</a></h1>-->
  </div>

  <nav id="nav-menu-container">
    <ul class="nav-menu">
      <li><a href="welcome/index#about">Nosotros</a></li>
      <li><a href="welcome/index#features">Características</a></li>
      <li><a href="welcome/index#team">Equipo</a></li>
    </ul>
  </nav><!-- #nav-menu-container -->
</div>
</header>


<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h2 class="section-title">¡Contáctanos!</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-3 offset-lg-2">
        <div class="info">
          <div>
            <i class="fa fa-map-marker"></i>
            <p>Cll 45 #30<br>Bogotá D.C - Colombia</p>
          </div>

          <div>
            <i class="fa fa-envelope"></i>
            <p>info@UNTrueque.com</p>
          </div>
        </div>
      </div>
      
      <div class="col-lg-5">
        <div class="form">
          <div id="sendmessage">Tu mensaje a sido envíado. ¡Gracias!</div>
          <div id="errormessage"></div>
          <form action="" method="post" role="form" class="contactForm">
              <div class="form-group">
                <input type="text" name="name" class="form-control" id="name" placeholder="Tu nombre" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                <div class="validation"></div>
              </div>
              <div class="form-group">
                <input type="email" class="form-control" name="email" id="email" placeholder="Tu e-mail" data-rule="email" data-msg="Please enter a valid email" />
                <div class="validation"></div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Asunto" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                <div class="validation"></div>
              </div>
              <div class="form-group">
                <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Escribe algo para nosotros" placeholder="Message"></textarea>
                <div class="validation"></div>
              </div>
              <div class="text-center"><button type="submit">Envíar mensaje</button></div>
          </form>
        </div>
      </div>

    </div>
  </div>
</section>