<%= form_with(model: choose_offer, local: true) do |form| %>
  <% if choose_offer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(choose_offer.errors.count, "error") %> prohibited this choose_offer from being saved:</h2>

      <ul>
      <% choose_offer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
