/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require devise_bootstrap_views
 *= require bootstrap_and_overrides
 *= require bootstrap-grid.min
 *= require bootstrap-reboot.min
 *= require static_pages
 *= require application
 *= require font-awesome
 *= require style
 */
 /* ==================================================
  General
  ================================================== */

html{
  overflow: scroll;
}

#contenido{
  margin-top: 70px;
}

.superCenter{
  display: flex;
	align-items: center;
	text-align: center;
	justify-content: center;
	vertical-align: middle;
}

.center{
	text-align: center;
}

.myh{
  margin: 10px;
  padding: 10px;
  color: #31708f;
}

.myhnot{
  margin: 0;
  padding: 0;
  color: #31708f;
}

.btn-right{
  float: right;
}

.margin-5{ margin:5px }
.margin-top-12{ margin-top: 12px }

/* ==================================================
  forms
  ================================================== */

.form-control{
  border: 2px solid #1c5664 !important;
}

.myform{
  margin-top: 30px;
}

/* ==================================================
  grid
  ================================================== */
.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.my-thumbnail {
	border: 1px solid rgb( 221, 221, 221);
	border-radius: 4px;
	background-color: #fff;
	width: 100%;
	margin: 15px 5px;
	padding: 10px;
}

.opacity:hover {
  opacity: 0.5;
  filter: alpha(opacity=50); /* For IE8 and earlier */
}

.opacity h4, .opacity h6 {
  color: #000;
}

.minibtn {
  border: 1px solid #1c5664;
  background-color: #fff;
  color: #1c5664;
  font-size: 16px;
  padding: 0px 6px;
  border-radius: 4px;
  margin: 5px;
}

.minibtn:hover, .minibtn:focus {
  background-color: #1c5664;
  color: #fff;
}

/* ==================================================
  Panel
  ================================================== */
  
.panel > .panel-heading {
  background-image: none;
  background-color: #fff;
}

.panel > .panel-footer {
  background-image: none;
  background-color: #fff;
  border: 0; 
}

/* ==================================================
  stars
  ================================================== */
.rating{
  overflow: hidden;
  vertical-align: bottom;
  display: inline-block;
  width: auto;
  height: 30px;
}
.rating > input{
  opacity: 0;
}
.rating > label{
  position: relative;
  display: block;
  float: right;
  background: url('star-off-big.png');
  background-size: 30px 30px;
}
.rating > label:before{
  display: block;
  opacity: 0;
  content: '';
  width: 30px;
  height: 30px;
  background: url('star-on-big.png');
  background-size: 30px 30px;
  transition: opacity 0.2s linear;
}
.rating > label:hover:before,
.rating > label:hover ~ label:before,
.rating:not(:hover) > :checked ~ label:before{
  opacity: 1;
}

.raiting > label:focus{
  opacity: 1;
}
/*---------------------FORMULARIOS---------------*/
.panel{
  margin-top: 30px;
}
.panel label{
  font-size: 15px;
}

.btn-full{
  width: 100%;
}

.my-btn{
  margin-top: 15px;
  font-size: 18px;
  padding-top: 8px;
  padding-bottom: 8px;
  border: 2px solid #fff;
  border-radius: 15px;
  background: #53a1af;
  color: #FFF;
}

.my-btn:hover {
  border: 2px solid #53a1af;
  background: #fff;
  color: #53a1af;
}



/*         navbar     */

.navbar-nav>li>a {
    font-size: 18px;
    color: #fff;
    padding-top: 25px;
    padding-bottom: 25px;
}

.navbar-nav ul ul li a{
    font-size: 18px;
    color: #fff;
    padding-top: 25px;
    padding-bottom: 25px;
}

.navbar-nav>li>a:hover {
    background-color: #3dadda;
    font-size: 18px;
    color: #fff;
    padding-top: 25px;
    padding-bottom: 25px;
}

.navbar-nav>ul>ul>a:hover {
    background-color: #3dadda;
    font-size: 18px;
    color: #fff;
    padding-top: 25px;
    padding-bottom: 25px;
}

.navbar-nav .glyphicon{
  font-size: 14px;
}


#thumb-profile a{
  padding-top: 3px;
  padding-bottom: 3px;

}
#thumb-profile img{
  border-radius: 70px;
  border:2px solid;
}

/*____________________________________________________________________nav-bar________________________________________*/

/* navbar */
.navbar-default {
    background-color: #1c5664;
    border-color: #1c5664;
    padding: 8px 48px;
    vertical-align: middle;
    display: inline-block;
}

#logo-unt-nav{
  width: 200px;
}

.navbar-default .navbar-collapse {
    background-color: #1c5664;
    border-color: #1c5664;
    margin: 0;
    padding: 0;
}

/* Link */
.navbar-default .navbar-nav > li > a {
    vertical-align:middle;
    display: inline-block;
    color: #f9fafb;
    font-size: 15px;
}
.navbar-dropdown{
    vertical-align:middle;
    display: inline-block;
    color: #f9fafb;
    font-size: 15px;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #bcdee7;
}
.navbar-default .navbar-nav > .acimg-fulltive > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #f9fafb;
    background-color: #fff;
}



/*****************Informaicion de perfil***********/

.img-full{
  width: 200px;
  height: 200px;
  border: 5px solid #1c5664;
  border-radius: 50%;
}



.my-tabs{
  font-size: 15px;
  color: black;
}

.my-tabs:focus{
  background-color: #199EB8!important;
  color: #fff;
}

.nav-pills>li.active>a{
  background-color: #199EB8!important;
}

#myTabs{
  border-bottom: 2px solid #199EB8;
}

/*************Productos y Servicios********************/





.mt30{
  margin-top: 30px;
}

.my-item {
  border: 2px solid #1d5664 !important;
  margin-top: 20px !important;
}
.my-item img{
  width: 100%;
  height: 300px;
}





.img-fullproduct{
  border: 7px solid #3dadda;
  border-radius: 50%;
}


/*************Productos y servicios********************/


/*************Offer********************/
.content{
  margin: 0;
  padding: 0;
}



.float-right{
  float: right;
}


.margin-5-50{ margin: 5px 50px }
.margin-25{ margin: 25px }
.margin-50{ margin: 50px; }
.margin-top{ margin-top: 100px; }
.mt{ margin-top: 50px; }


.full-width{
  width: inherit;
}

@media (max-width:1110px){
	.navbar-default {
		padding: 8px 0;
	}
	.btn-right{
    float: none;
  }
  .margin-25{ margin: 0 }
  .margin-5-50{ margin: 5px 0 }
  .mt{ margin-top: 0; }
}




.pagination>li>a,
.pagination>li>span {
  font-size: 15px;
  color:#777}

.pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus {
    color: #fff;
    background-color: #1d5664;
    border-color: #ccc;
    cursor: default;
}


/******************************GRAFICAS****************************/

#stadis-title{
  border-bottom: 2px solid  #1d5664;
}
#products-per-day{
  margin: auto;
}
#products-services{
  margin: auto;
}
#max-sellers{
  margin: auto;
}
