/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require devise_bootstrap_views
 *= require bootstrap_and_overrides
 *= require bootstrap-grid.min
 *= require bootstrap-reboot.min
 *= require static_pages
 *= require application
 *= require font-awesome
 *= require style
 */
 

/* ==================================================
 Colores
 ================================================== */
 
/*
* Azul 3: 53a1af 

*/

/* ==================================================
 General
 ================================================== */

html, body{
  overflow: scroll;
  min-width: 300px;
}
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
div, h1, h2, h3, h4, h5, h6, p, .btn {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}
.superCenter{
  display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	
	-moz-justify-content: center;
	-webkit-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
	
	-moz-align-items: center;
	-webkit-align-items: center;
	-ms-align-items: center;
	align-items: center;
    
}
.center{ text-align: center; }
.verticalCenter{
  display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	
	-moz-align-items: center;
	-webkit-align-items: center;
	-ms-align-items: center;
	align-items: center;
	
	-moz-flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.flex-container {
  display: -moz-flex !important;
	display: -webkit-flex !important;
	display: -ms-flex !important;
	display: flex !important;
}
.flexStart{
	-moz-align-self: flex-start;
	-webkit-align-self: flex-start;
	-ms-align-self: flex-start;
	align-self: flex-start;
}
.flexEnd{
	-moz-align-self: flex-end;
	-webkit-align-self: flex-end;
	-ms-align-self: flex-end;
	align-self: flex-end;
}
.flexCenter{
	-moz-align-self: center;
	-webkit-align-self: center;
	-ms-align-self: center;
	align-self: center;
}
.flex-item {
    background-color: cornflowerblue;
    width: 100px;
    height: 100px;
    margin: 10px;
}
.m-5{ margin:5px }
.m-25{ margin: 25px }
.m-50{ margin: 50px; }
.m-5-50{ margin: 5px 50px }
.mt{ margin-top: 100px; }
.mt-12{ margin-top: 12px }
.mt-50{ margin-top: 50px; }
.edge{
  border: 1px solid  #31708f;
  border-radius: 4px;
}
.full-width{
  width: 100%;
}
.myh{
  margin: 10px;
  padding: 10px;
  color: #31708f;
}
.myhnot{
  margin: 0;
  padding: 0;
  color: #31708f;
}
.btn-right{
  float: right;
}

/* ==================================================
  Botones
  ================================================== */
.btn {
  margin: 5px;
  border-radius: 4px;
  padding: 10px 30px;
  font-size: 13px !important;
}
.btn-default {
  background-color: #1c5664;
  font-weight: 800;
  color: #fff;
}
.btn-default:hover, .btn-default:focus {
  border: 1px solid #1c5664;
  background-color: #fff;
  color: #1c5664;
}
.btn-ghost {
  border: 1px solid #1c5664;
  background-color: transparent;
  padding: 2px 4px;
  color: #1c5664;
}
.btn-ghost:hover, .btn-ghost:focus {
  background-color: #1c5664;
  color: #fff;
}
/* boton para fondos Oscuros*/
.btn-inverse {
  border: 1px solid #fff;
  background-color: transparent;
  padding: 2px 4px;
  height: 30px;
  color: #fff;
}
.btn-inverse:hover, .btn-inverse:focus {
  background-color: #fff;
  color: #1c5664;
}
/* BTN-FACEBOOKJ*/
.btn-facebook{
  background-color: #4267b2 !important;
  border: 2px solid #fff !important;
}
.btn-facebook:hover{
  background-color: #fff !important;
  border: 2px solid #4267b2 !important;
  color: #4267b2 !important;
}
/* ==================================================
  forms
  ================================================== */

.form-control{
  border: 2px solid #1c5664 !important;
}

/* ==================================================
  grid
  ================================================== */

.my-thumbnail {
  margin:10px 5px;
	border: 1px solid rgb( 221, 221, 221);
	border-radius: 4px;
	width: 100%;
	padding: 10px;
	background-color: #fff;
	overflow: hidden;
}
.img-div-size{
  height:200px;
}
.img-size{
  width:100%; 
  max-height:200px;
}
.caption-div-size{
  height: 100px;
}
.opacity:hover {
  opacity: 0.5;
  filter: alpha(opacity=50); /* For IE8 and earlier */
}
.opacity div, .opacity h1.opacity h2, .opacity h3.opacity h4, .opacity h5.opacity h6, .opacity p {
  color: #000;
}

/* ==================================================
  Panel
  ================================================== */
.panel, .panel-default{
  border: 1px solid #1c5664;
}

.panel-heading{
  margin: 0 !important;
  background-color: #fff !important;
}
.panel-footer{
  border: 0;
  background-color: #fff;
}

/* ==================================================
  estrellas
  ================================================== */
.rating{
  overflow: hidden;
  vertical-align: bottom;
  display: inline-block;
  width: auto;
  height: 30px;
}
.rating > input{
  opacity: 0;
}
.rating > label{
  position: relative;
  display: block;
  float: right;
  background: url('star-off-big.png');
  background-size: 30px 30px;
}
.rating > label:before{
  display: block;
  opacity: 0;
  content: '';
  width: 30px;
  height: 30px;
  background: url('star-on-big.png');
  background-size: 30px 30px;
  transition: opacity 0.2s linear;
}
.rating > label:hover:before,
.rating > label:hover ~ label:before,
.rating:not(:hover) > :checked ~ label:before{
  opacity: 1;
}

.raiting > label:focus{
  opacity: 1;
}



/* ==================================================
  navbar
  ================================================== */

/* navbar */
.navbar-default {
    background-color: #1c5664;
    border-color: #1c5664;
    padding: 8px 48px;
}
#logo-unt-nav{
  width: 200px;
}

.navbar-default .navbar-collapse {
  margin: 0;
  width: inherit;
  padding: 0;
}

/* Link */
.navbar-default .navbar-nav > li > a {
  width: auto;
  background-color: #1c5664;
  color: #f9fafb;
  font-size: 15px;
}
.navbar-dropdown{
  color: #f9fafb;
  font-size: 15px;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #bcdee7;
}
.navbar-default .navbar-nav > .acimg-fulltive > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #f9fafb;
  background-color: #fff;
}
.navbar-form{
  border: 0px solid #1c5664;
}

/* ==================================================
  Acordeon
  ================================================== */

#accordion-profile .panel,
#accordion-profile .panel-default{
  background-color: #fff;
  text-decoration: none;
  padding: 5px 15px;
  border: 0;
}
#accordion-profile .link{
  text-decoration: none;
  color: #1d5664;
}
#accordion-profile h4 > .link:hover{
  margin: 5px 15px;
}
#accordion-profile .link:hover{
  opacity: 0.5;
}

/* ==================================================
  Paginación
  ================================================== */

.pagination>li>a,
.pagination>li>span {
  font-size: 15px;
  color:#777}

.pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus {
  color: #fff;
  background-color: #1d5664;
  border-color: #ccc;
  cursor: default;
}

/* ==================================================
  Tablas
  ================================================== */
.table-barter{
  font-size: 15px;
}
.table-barter a .glyphicon{
  color:#1d5664;
}
.table-barter a .glyphicon:hover{
  color:  #2b9ab5;
}

.table-barter .info{
  background-color: rgba(29, 86, 100, 0.15) !important;
}
.left{
  text-align: left;
}
.right{
  text-align: right;
}

/* ==================================================
  Estadisticas
  ================================================== */

#stadis-title{
  border-bottom:
}
#products-per-day{
  margin: auto;
}
#products-services{
  margin: auto;
}
#max-sellers{
  margin: auto;

}

/* ==================================================
  Otros
  ================================================== */
.img-profile{
  width: 200px;
  height: 200px;
  border: 5px solid #1c5664;
  padding:0;
  margin: 0;
}
/*ALERT*/
#btn-close{
  position: absolute;
  top: 20px;
  right: 10px;
}
.alert, .notice{
  font-size: 15px;
  text-align: center;
}
.black_overlay {
  display: none;
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 1001;
  -moz-opacity: 0.8;
  opacity: .80;
  filter: alpha(opacity=80);
}
.white_content {
  display: none;
  position: absolute;
  top: 25%;
  left: 25%;
  width: 50%;
  height: 20%;
  padding: 16px;
  border: 2px solid #1d5664;
  background-color: white;
  z-index: 1002;
  overflow: auto;

}
.img-rounded{
  max-width: 200px !important;
}


/* ==================================================
  responsive
  ================================================== */

@media (max-width:1110px){
	.navbar-default {
		padding: 8px 0;
	}
	.btn-right{
    float: none;
  }
  .margin-25{ margin: 0 }
  .margin-5-50{ margin: 5px 0 }
  
}
@media (max-width: 1010px) {
  .mt{ margin-top: 110px}
	.navbar-default {
  		padding: 0;
	}
  .navbar-header {
      float: none;
  }
  .navbar-left,.navbar-right {
      float: none !important;
  }
  .navbar-toggle {
      display: block;
  }
  .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
      top: 0;
      border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
      display: none!important;
  }
  .navbar-nav {
      float: none!important;
      margin-top: 7.5px;
  }
  .navbar-nav>li {
      float: none;
  }
  .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
  }
  .collapse.in{
      display:block !important;
  }
}
@media (max-width: 991px) {
  .img-size{
    max-height:100px;
  }
  .img-div-size{
    height:100px;
  }
}
@media (max-width: 766px) {
  .mt{ margin-top: 170px}  
  .img-div-size{ height: 75px }
  .img-size{ max-height: 75px }
  .caption-div-size{ height: 75px }
  .opacity h4 { font-size: 13px } 
  .opacity h6 { font-size: 9px } 
}
@media (max-width: 575px) {
  .img-div-size{ height: 200px }
  .img-size{ 
    width: auto;
    max-height: 200px 
    
  }
  .caption-div-size{ height: 100px }
  .opacity h4 { font-size: 20px } 
  .opacity h6 { font-size: 15px } 
}