/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require devise_bootstrap_views
 *= require bootstrap_and_overrides
 *= require bootstrap-grid.min
 *= require bootstrap-reboot.min
 *= require static_pages
 *= require application
 *= require font-awesome
 *= require style
 */
 /*--------CONTENIDO---------------------------*/
html{
  overflow: scroll;
}
#contenido{
  margin-top: 70px;
}

  .center{
    text-align: center;
  }


/*---------------------FORMULARIOS---------------*/
.panel{
  margin-top: 30px;
}
.panel label{
  font-size: 15px;
}

.btn-full{
  width: 100%;
}

.my-btn{
  margin-top: 15px;
  font-size: 18px;
  padding-top: 8px;
  padding-bottom: 8px;
  border: 2px solid #fff;
  border-radius: 15px;
  background: #53a1af;
  color: #FFF;
}

.my-btn:hover {
  border: 2px solid #53a1af;
  background: #fff;
  color: #53a1af;
}

 
 
/*         navbar     */

.navbar-nav>li>a {
    font-size: 18px;
    color: #fff;
    padding-top: 25px;
    padding-bottom: 25px;
}

.navbar-nav>li>a:hover {
    background-color: #3dadda;
    font-size: 18px;
    color: #fff;
    padding-top: 25px;
    padding-bottom: 25px;
}
.navbar-nav .glyphicon{
  font-size: 14px;
}


#thumb-profile a{
  padding-top: 3px;
  padding-bottom: 3px;

}
#thumb-profile img{
  border-radius: 70px;
  border:2px solid;
}

/*____________________________________________________________________nav-bar________________________________________*/

/* navbar */
.navbar-default {
    background-color: #1c5664;
    border-color: #1c5664;
    padding: 8px 48px;
    vertical-align: middle;
    display: inline-block;
}

#logo-unt-nav{
  width: 200px;
}

.navbar-default .navbar-collapse {
    background-color: #1c5664;
    border-color: #1c5664;
    margin: 0;
    padding: 0;
}

/* Link */
.navbar-default .navbar-nav > li > a {
    vertical-align:middle;
    display: inline-block;
    color: #f9fafb;
    font-size: 15px;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #bcdee7;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #f9fafb;
    background-color: #fff;
}



/*****************Informaicion de perfil***********/

.img-full{
  width: 100%;
  border: 7px solid #3dadda;
  border-radius: 50%;
}
.t-information{
  margin-top: 12px;
}

.t-title{
  margin-top: 20px;
}

.my-tabs{
  font-size: 15px;
  color: black;
}

.my-tabs:focus{
  background-color: #199EB8!important;
  color: #fff;
}

.nav-pills>li.active>a{
  background-color: #199EB8!important;
}

#myTabs{
  border-bottom: 2px solid #199EB8;
}

/*************Productos y servicios********************/
.mt30{
  margin-top: 30px;
}

.my-item {
  border: 2px solid #1d5664 !important;
  margin-top: 20px !important;
}
.my-item img{
  width: 100%;
  height: 300px;
}

.myh1{
  margin: 20px;
  padding: 10px;
  color: #31708f;
}
.form-control{
  border: 2px solid #319eb8 !important;
}
.myform{
  margin-top: 30px;
}

.img-fullproduct{
  border: 7px solid #3dadda;
  border-radius: 50%;
}


/*************Productos y servicios********************/


/*************Offer********************/
.content{
  margin: 0;
  padding: 0;
}
.btn-right{
  float: right;
}
.float-right{
  float: right;
}

.margin-5{ margin:5px }
.margin-5-50{ margin: 5px 50px }
.margin-25{ margin: 25px }
.margin-50{ margin: 50px; }
.margin-top{ margin-top: 100px; }


.full-width{
  width: inherit;
}

@media (max-width:1110px){
	.navbar-default {
		padding: 8px 0;
	}
	.btn-right{
    float: left;
  }
  .margin-25{ margin: 0 }
  .margin-5-50{ margin: 5px 0 }
}

.opacity:hover {
  opacity: 0.5;
  filter: alpha(opacity=50); /* For IE8 and earlier */
}