<div class="container-fluid mt-50">
<h2 class="myh center">Edita tu producto</h2>

<%= render 'form', product: @product %>


<div class="row">
  <div class="col-md-offset-3 col-md-6 left">
    <%= link_to 'Volver', :user_information, class: 'btn btn-default' %>
  </div>
</div>
</div>
