<div class="container mt">
<div class="row">
    <div class="offset-md-3 col-md-6 center">
      <h2 class="myh">Edita tu producto</h2>
    </div>
</div>

<%= render 'form', product: @product %>
<%= link_to 'Back', :myObjectsServices, class: 'btn btn-default' %>
</div>