<div class="row">
    <div class="offset-md-3 col-md-6 center">
      <h1 class="myh1">Edita tu producto</h1>
    </div>
</div>

<%= render 'form', product: @product %>

<%= link_to 'Show', @product %> |
<%= link_to 'Back', products_path %>
